body {
    font-family: Arial, sans-serif;
    /* margin: 0;
    padding: 0; */
    /* height: 100vh; */
    background-image: url('/img/loginBG.png');
    background-repeat: no-repeat;
    background-position: center middle;
    background-size: 100%;
  }
  .form-contents{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .login-container {
    background: #fff;
    padding: 20px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #0C3695;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background: #ffffff;
    color: #0C3695;
    border: 1px #0C3695 solid;
  }
  .Logo{
    top: 0;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 2rem;
  }
  .Logo img{
    height: 150px;
    width: 150px;
  }

 