:root
{
  --primary-color : #007bff;
}
.step-indicator {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}


.active {
  background-color: #007bff;
  color: white;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 3rem;
  color: #2147a8;
  font-family: Inter;
  font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
  font-weight: 400;
  line-height: normal;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 20%;
  padding: 12px 20px;
}

button:hover {
  background-color: #0056b3;
}

#form-steps {
  margin-top: 2rem;
  position: relative;
  margin-bottom: 2rem;
}

#form-steps::before,.progress
{
  content: "";
  margin: 0 auto;
  height: 8%;
  top: 50%;
  background-color: #dcdcdc;
  width: 100%;
  position: absolute;
  transform: translateY(-50%);
  z-index: -1;  
  left: 0;
}

.progress
{
  width: 0%;
  background-color: var(--primary-color);
  transition: 0.3s;
}

.step {
  border-radius: 100%;
  width: 104px;
  height: 104px;
  flex-shrink: 0;
  border:none;
  background: #dcdcdc;
  color: #fff;
  font-family: Inter;
  font-size: clamp(1.5rem, 0.7614rem + 1.9697vw, 3.125rem);
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* เริ่มต้นด้วยการซ่อนทุกส่วนของฟอร์มยกเว้นส่วนแรก */

/* สไตล์ของขั้นตอนในการกรอกฟอร์ม */

.active {
  background-color: #007bff;
  color: white;
}

.sport-title {
  display: flex;
  gap: 0.3rem;
  font-weight: 600;
  font-size: clamp(0.75rem, 0.5357rem + 0.5714vw, 1rem);
}

.btn-next {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.sport-title label {
  display: block;
  margin-bottom: 0.5rem;
}

#stadium-select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 3rem;
  color: #979797;
  font-family: Inter;
  font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0.5rem;
}

/* Style the dropdown arrow - this is optional and browser-specific */
/* ใช้คลาส "angle-down" เพื่อเลือกเฉพาะ Select */

.select-stadium {
  display: flex;
  align-items: center;
}
.select-stadium {
  overflow: hidden; /* To hide the default arrow */
}

.select-stadium select {
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-appearance: none; /* Removes default arrow for WebKit browsers */
  -moz-appearance: none; /* Removes default arrow for Mozilla browsers */
  appearance: none;
  background: url("https://cdn-icons-png.flaticon.com/512/25/25623.png")
    no-repeat right 2rem center; /* Custom arrow positioned slightly to the left */
  background-size: 28px 28px; /* Set the size of the arrow */
  cursor: pointer; /* Changes the cursor to signify this is a dropdown */
}

/* Style to apply when the select box is focused */
.select-stadium select:focus {
  outline: none;
  border-color: #007bff; /* Example focus color */
}

.add-player {
  color: #000;
  font-family: Inter;
  font-size: clamp(1rem, 0.5455rem + 1.2121vw, 2rem) !important ;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.Player-title {
  display: flex;
}
input[type="file"] {
  display: none;
}

.cardnumber {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
/* CSS เพื่อซ่อนฟอร์มเริ่มต้นในขั้นตอนที่ 2 */
/* .form-section[data-step="2"] {
  display: none;
} */

.thank-activitie {
  margin-bottom: 1.5rem;
  font-size: clamp(1rem, 0.5455rem + 1.2121vw, 2rem);
}

.confirm-btn {
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  margin: 0 auto;
  display: flex;
justify-content: center;
}

