/* Reset margin and padding for all elements */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* สไตล์แถบนำทาง */
.navbar {
  position: fixed;
  background-color: #034694; /* สีน้ำเงินของ Chelsea */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  padding-left: 10rem;
  padding-right: 10rem;
  height: 120px;
  width: 100%;
}
.content-homepage{
  background-image: url('/img/homeTop-bg.png');
  background-repeat: no-repeat;
  background-size: 100%;
  /* padding: 2rem; */
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.left-contents{
  /* margin-top: 50px; */
  text-align: left;
  width: 50%;
  padding: 20px;
}

.image-right{
  background-image: url('/img/footballer.png');
  height: 30rem;
  width: 50rem;
  /* position: absolute; */
  background-repeat: no-repeat;
  background-size: 100%;
  /* margin-right: 300rem; */
  /* margin-bottom: -50px; */
}

/* รูปโลโก้ */
.navbar-logo {
  height: 50px; /* คุณสามารถปรับขนาดตามโลโก้จริงได้ */
  margin-right: 20px;
}

/* ลิงก์นำทาง */
.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 1rem; /* ปรับขนาดตามต้องการ */
}

/* ปุ่มบนแถบนำทาง */
.navbar-button {
  padding: 10px 20px;
  background-color: white;
  color: #034694; /* สีน้ำเงินของ Chelsea */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto; /* ย้ายปุ่มไปทางขวา */
}

.navbar-button:hover {
  background-color: #033161; /* สีน้ำเงินเข้มสำหรับเอฟเฟกต์ hover */
  color: white;
}

.bg-top {
  width: 100%;
  margin-top: 120px;
}
/* .homeTop-bg{
  display: ;
} */
/* .content {
  display: grid; 
  place-items: center; 
  margin-top: 5rem;
} */

.innerContents {
  text-align: center;
  padding-left: 10rem;
  padding-right: 10rem;
}

/* ---------------------------- */
#form-steps {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.step {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.step.active {
  background-color: #007bff;
  color: white;
}

.form-section {
  /* margin-bottom: 20px; */
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  height: 100vh;
  margin: auto;
}
.main-contents{
  margin-bottom: 20px;
  margin-left: 5rem;
  /* 621746860103 */
}
btn >a{
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 1rem; /* ปรับขนาดตามต้องการ */
  border-radius: 5px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #033161;
  margin-bottom: 20px;
  margin-left: 5rem;
}
.main{
  align-items: center;
  text-align: center;
  margin-top: 15px;
}
.main input{
  margin-top: 15px;
  width: 30rem;
  height: 2rem;
  border-radius: 5px;
  padding: 5px;
}
table, td, th{  
  border: 2px solid #ddd;
  text-align: center;
}
.taberdata{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
table {
  border-collapse: collapse;
  width: 50%;
 }
th, td {
  padding: 15px;
  width: 250px;
  right: 0;
}

.Hreward{
  display: flex;
  background-color: #007bff;
  height: auto;
  width: 100%;
  justify-content: space-between;
  padding: 2rem;
}
.rewardData{
  background-color: #00ea37;
  height: auto;
  width: 70%;
  padding: 30px;
}
.topic{
  text-align: left;
}
.data1{
  background-color: #ea0008;
  height: 100px;
  width: 65%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.data2{
  background-color: #ea0000;
  height: 100px;
  width: 65%;
  margin-bottom: 20px;
  margin-left: 100px;
}
.data3{
  background-color: #ea0000;
  height: 100px;
  width: 65%;
  margin-bottom: 20px;
  margin-left: 200px;
}
.imagRigt{
  background-image: url("/img/rightimageData.png"); 
  background-repeat: no-repeat;
  position: center;
  height: auto;
  width: calc(100% - 70%);
}
/* เคล็ดลับการปรับแต่งเมื่อหน้าจอเล็กลง */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar a,
  .navbar-button {
    margin: 5px 0;
  }
}
