<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login Page</title>
<link rel="stylesheet" href="/css/login.css">
</head>
<body >
<div class="bg-login">
<div class="Logo">
    <img src="/img/Chelsea_FC 3.png" alt="">
</div>
<div class="form-contents">
<div class="login-container">
  <form action="/submit-your-login-form" method="post">
    <div class="input-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Log in</button>
  </form>
</div>
</div>
</div>
</body>
<script src="/js/login.js"></script>
</html>
