<!DOCTYPE html>
<html lang="th">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" href="/img/new-logo.png">
</head>
<title>SWFSC</title>
<body>
    <div class="navbar">
        <img src="../img/new-logo.png" class="navbar-logo" alt="โลโก้">
        <div class="menu">
              <a href="#home">หน้าแรก</a>
              <a href="#news">ตารางการแข่งขัน</a>
              <a href="#contact">ผลการแข่งขัน</a>
              <button class="navbar-button"><a href="/index.html">ลงทะเบียน</a></button>
          </div>
      </div>
<div id="home" class="top-main">
    <img src="" class="bg-top" alt="">
    <h1>SINGHA WORLD OF FOOTBALL SKILLS CHALLENGE</h1>
    <p>RULES & REGULATIONS  SINGHA WORLD OF FOOTBALL SKILLS CHALLENGE <br> จัดการแข่งขันโดย บริษัท สิงห์ คอร์เปอเรชั่น จำกัด  ผู้สนับสนุนสโมสรฟุตบอลเชลซีอย่างเป็นทางการ</p>
    <div class="topbtn">
        <button style="border: 1px #fff solid;border-radius: 5px;background-color: rgba(0, 0, 0, 0);padding: 10px;"><a style="color: white;" href="">รายละเอียดการแข่งขั้น</a></button>
        <button style="border: 1px #fff solid;border-radius: 5px;padding: 10px;margin-left: 1rem;"><a style="color: #033161;" href="">ลงทะเบียน</a></button>
    </div>
    <img style="margin-top: 2rem;" src="/img/alllogo.png" alt="alllogo">
</div>
<div class="content-homepage">
<div class="left-contents">
    <div class="main-contents">
<h1 style="color: #033161;">WELCOME TO THE <br> HOME OF WOLVES FC</h1>
    <li>เพื่อจัดการแข่งขันฟุตบอลสมัครเล่นที่มีรูปแบบการจัดและกติกาเทียบเคียงการแข่งขันระดับอาชีพ คือ เริ่มจากการจัดการแข่งขันระดับภูมิภาค เพื่อค้นหาตัวแทนระดับภูมิภาค และทำการแข่งขันเพื่อหาทีมชนะเลิศระดับประเทศ อีกทั้งเพื่อเฟ้นหาทีมตัวแทนต่อยอดสู่ระดับมาตรฐานสากล โดยร่วมมือกับการแข่งขัน Carabao Cup ในการคัดเลือกเลือกตัวแทนประเทศไทยร่วมชมการแข่งขัน Carabao Cup ประเทศอังกฤษ</li>
    <li>เพื่อสร้างและส่งเสริมให้เกิดมิตรภาพที่ดีต่อกันระหว่างผู้ประกอบการแต่ละสนาม และแฟนบอลที่มาร่วมการแข่งขัน ซึ่งจะส่งผลต่อการเชียร์ฟุตบอลมิติใหม่ที่แสดงออกถึงมิตรภาพ และลดการทะเลาะวิวาทในอนาคต</li>
    <li>เพื่อประชาสัมพันธ์ศักยภาพการแข่งขันฟุตบอลของไทยในปัจจุบันให้กับกลุ่มเป้าหมายมากขึ้น</li>
</div>
    <btn><a href="">ลงทะเบียน</a></btn>
</div >
<div  class="image-right"></div>
</div>
<div id="news" class="main">
    <h2  style="color: #033161;margin-bottom: 1rem;">รอบการแข่งขัน</h2>
    <p>การแข่งขัน SINGHA WORLD OF FOOTBALL SKILLS CHALLENGE แบ่งออกทั้งหมด 2 รอบ เป็น รอบคัดเลือก และ รอบชิงชนะเลิศ</ย>
    <div class="taberdata">
    <table>
        
        <tr>
            <td>วันเสาร์ 2 มีนาคม 2567</td>
            <td>เชียงใหม่</td>
            <td>สนาม Kick Off Arena CMI</td>
        </tr>
        <tr>
            <td>วันเสาร์ 9 มีนาคม 2567</td>
            <td>สงขลา</td>
            <td>สนาม Sport Arena</td>
        </tr>
        <tr>
            <td>วันเสาร์ 16 มีนาคม 2567</td>
            <td>ขอนแก่น</td>
            <td>สนาม Major  Arena</td>
        </tr>
        <tr>
            <td>วันเสาร์ 23 มีนาคม 2567</td>
            <td>ชลบุรี</td>
            <td>สนาม Sriracha Arena</td>
        </tr>
        <tr>
            <td>วันเสาร์ 30 มีนาคม 2567</td>
            <td>กรุงเทพมหานคร</td>
            <td>สนาม Future Arena</td>
        </tr>
    </table>
   
</div> 
<div class="main-data">
    <div class="Winnner">
        <h2>รอบชิงชนะเลิศ</h2>
    </div>
    <div class="taberdata">
        <table>
            <tr>
                <td>วันอาทิตย์ 31 มีนาคม 2567</td>
                <td>สนาม Future Arena</td>
                <td>กรุงเทพมหานคร</td>
            </tr>
        </table>
    </div>
</div>
<div class="Hreward">
    <div class="rewardData">
        <div class="topic">
            <h1>รอบชิงชนะเลิศ</h1>
        </div>
        <div class="data1">
            <div class="linef"></div>
            <div class="dataMain">
            <h2>80 ทีมสุดท้าย</h2><br>
            <p>ทำการจับฉลากแบ่งสายทั้งหมด 20 สาย สายละ 4 ทีม หาทีมที่ทำคะแนนอันดับ 1 , 2 เข้ารอบต่อไป</p>
                </div>
            </div>
        <div class="data2">
            <div class="linef"></div>
            <div class="dataMain">
                <h2>40 ทีมสุดท้าย</h2><br>
                <p>
                    แบ่งสายทั้งหมด 10 สาย สายละ 4 ทีม  หาทีมที่ทำคะแนนอันดับ 1 , 2 เข้ารอบต่อไป</p>
                    </div>
        </div>
        <div class="data3">
            <div class="linef"></div>
            <div class="dataMain">
                <h2>20 ทีมสุดท้าย</h2><br>
                 <p>
                    แบ่งสายทั้งหมด 4 สาย สายละ 5  ทีมหาทีมที่ทำคะแนนอันดับ 1 เข้ารอบต่อไป</p>
                </div>
        </div>
        <div class="data4">
            <div class="linef"></div>
            <div class="dataMain">
                <h2>4 ทีมสุดท้าย</h2><br>
                 <p style="color: #FBFE49;">หาทีมที่ทำคะแนนได้ที่สุด เป็นทีมชนะเลิศ</p>
                </div>
        </div>
    </div>
    <div class="imagRigt"></div>
    </div>
    <div class="dataRegis">
        <div class="imagLeft"></div>
        <div class="Dataright">
            <!-- toggle 1 -->
            <div class="toggle-container">
                <input id="toggle-example" class="toggle-input" type="checkbox">
                <label for="toggle-example" class="toggle-label">
                  <span class="toggle-text">เอกสารประกอบการสมัคร</span>
                  <span class="toggle-handle"></span>
                </label>
                <div class="toggle-content">
                    <p>ใบสมัครเข้าร่วมการแข่งขัน SINGHA WORLD OF FOOTBALL SKILLS CHALLENGE พร้อมกรอกข้อมูลให้ครบถ้วน </p>
                    <li>ชื่อ นามสกุล</li>
                    <li>เลขบัตรประชาชน</li>
                    <li>รูปถ่าย</li>
                    <li>PDPA</li>
                    <li>เบอร์โทรศัพท์ สำหรับติดต่อ ของหัวหน้าทีม</li>
              </div>
            </div>
              <!-- toggle 2 -->
              <div class="toggle-container">
                <input id="toggle-example-2" class="toggle-input" type="checkbox">
                <label for="toggle-example-2" class="toggle-label">
                  <span class="toggle-text">คุณสมบัติ</span>
                  <span class="toggle-handle"></span>
                </label>
                <div class="toggle-content">
                  <li>สมาชิกต้องมีผู้เข้าแข่งขัน ทีมละ 4 คน</li>
                  <li>ผู้เข้าแข่งขันต้องมีอายุ 20 ปี ขึ้นไป ไม่จำกัดเพศ ( ก่อนหรือภายในปี พ.ศ. 2547 )</li>
                  <li>ผู้เข้าแข่งขันมีสัญชาติไทย เท่านั้น</li>
                  <li>ค่าสมัครทีมละ 1,000 บาท *รับของสมนาคุณจากบริษัท สิงห์ คอร์เปอเรชั่น จำกัด มูลค่า 600 บาท</li>
                  <li>ผู้เข้าแข่งขัน สามารถทำการสมัครเข้าร่วมการแข่งขันได้ทุกสนาม หากทีมยังไม่ผ่านเข้ารอบชิงชนะเลิศ</li>
                </div>
              </div>  
              <!-- toggle 3 -->
              <div class="toggle-container">
                <input id="toggle-example-3" class="toggle-input" type="checkbox">
                <label for="toggle-example-3" class="toggle-label">
                  <span class="toggle-text">รูปแบบการแข่งขัน</span>
                  <span class="toggle-handle"></span>
                </label>
                <div class="toggle-content">
                  <li><b>การจ่ายบอล ( Passing Challenge )</b><br>
                    ผู้เข้าแข่งขันแต่ละคนจะมีลูกฟุตบอลคนละ 5 ลูก<br>
                    ทำการจ่ายฟุตบอลตามเป้าคะแนน 1 <br> 
                    – 5 ตามลำดับ <br>
                    โดยคะแนนแต่ละเป้าจะเรียงตั้งแต่ 1 – 5 คะแนน <br>
                    นำคะแนนของผู้เข้าแข่งขันแต่ละคนมารวมกัน <br>
                    = คะแนนของทีมที่ทำได้ใน Passing Challenge</li>
                  <li><b>การยิงประตู ( Shooting Challenge )</b><br>
                    ผู้เข้าแข่งขันแต่ละคนจะมีลูกฟุตบอลคนละ 5 ลูก<br>
                    ทำการยิงฟุตบอลตามเป้า โดยคะแนนแต่ละเป้าจะถูกแบ่งออกเป็น 2 คะแนน <br> 
                    และ 5 คะแนน<br>
                    นำคะแนนของผู้เข้าแข่งขันแต่ละคนมารวมกัน<br>
                    = คะแนนของทีมที่ทำได้ใน Shooting Challenge</li>
                  <li><b>ความแม่นยำ ( Cross Bar Challenge )</b><br>
                    ผู้เข้าแข่งขันแต่ละคนจะมีลูกฟุตบอลคนละ 5 ลูก<br>
                    ทำการยิงฟุตบอลให้ชนคาน จากระยะที่กำหนด โดยหากทำได้ <br> จะได้รับ 5 คะแนน ในแต่ละลูก
                    นำคะแนนของผู้เข้าแข่งขันแต่ละคนมารวมกัน <br>
                    = คะแนนของทีมที่ทำได้ใน Cross Bar Challenge</li>
                </div>
              </div>
        
    </div>
</div>
<div class="rewardCom">
    <div class="dataReward">
        <h1 style="margin-bottom: 20px;margin-top: 20px;color: #05256F;">รางวัลการแข่งขัน</h1>
        <p><b>รอบคัดเลือก</b></p>
        <li>อันดับ 1 – เงินรางวัล 10,000 บาท</li>
        <br>
        <p><b>รอบชิงชนะเลิศ</b></p>
        <li>อันดับ 1 – เงินรางวัล 50,000 บาท และได้รับสิทธ์ Exclusive Trip ทำการแข่งขัน Skills Challenge กับนักฟุตบอลเชลซีถึงสนามซ้อม <br>พร้อมดูฟุตบอลพรีเมียร์ลีกติดขอบสนามนัดปิดท้ายฤดูกาล 2023/24  CHELSEA VS BOURNEMOUTH ทั้งทีม</li>
        <li>อันดับ 2 – เงินรางวัล 30,000 บาท</li>
        <li style="margin-bottom: 2rem;">อันดับ 3 – เงินรางวัล 10,000 บาท</li>
        <btn><a href=""><i style="margin-left: -1rem;" class="bi bi-cloud-download-fill"></i><b>ดาวน์โหลดเอกสารประกอบได้ที่นี้</b></a></btn>
    </div>
</div>
<div class="bottom-main">
    <hr>
<h2 id="contact">ตารางผลการแข่งขัน</h2>
<p>Lorem ipsum dolor sit amet consectetur. At turpis feugiat enim volutpat aliquam tincidunt. Sit commodo pellentesque dui iaculis et tempor pretium. Tincidunt risus rhoncus sagittis ornare ipsum. Vulputate eget id odio cras ac volutpat. Id sociis tellus a turpis scelerisque eu venenatis.</p>
<div class="table-compete">
    <h3>สนาม เอ</h3>
    <img src="/img/R1.png" alt="">
    <p><a href="">กดพื่อดูแผนที่การแข่งขัน</a> : https://www.google.co.th/maps/@18.3170581,99.3986862,17z?hl=th</p>
    <hr>
    <h3>สนาม บี</h3>
    <img src="/img/R2.png" alt="">
    <p><a href="">กดพื่อดูแผนที่การแข่งขัน</a> : https://www.google.co.th/maps/@18.3170581,99.3986862,17z?hl=th</p>
    <hr>
</div>
<h2 >ผลการแข่งขัน</h2>
<p>Lorem ipsum dolor sit amet consectetur. At turpis feugiat enim volutpat aliquam tincidunt. Sit commodo pellentesque dui iaculis et tempor pretium. Tincidunt risus rhoncus sagittis ornare ipsum. Vulputate eget id odio cras ac volutpat. Id sociis tellus a turpis scelerisque eu venenatis.</p>
<div class="Result-compate">
        <h3>การคัดเลือกรอบแรก</h3>
        <div class="setting">
            <button>สนานที่ 1</button>
            <button>สนานที่ 2</button>
            <button>สนานที่ 3</button>
            <button>สนานที่ 4</button>
        </div>
        <img src="/img/R2.png" alt="">
        <hr>
        <h3>การคัดเลือกรอบสอง</h3>
        <div class="setting">
            <button>สนานที่ 1</button>
            <button>สนานที่ 2</button>
            <button>สนานที่ 3</button>
            <button>สนานที่ 4</button>
        </div>
        <img src="/img/R2.png" alt="">
        <hr>
        <h3>รอบรองชนะเลิศ 3 </h3>
        <div class="setting">
            <button>สนานที่ 1</button>
            <button>สนานที่ 2</button>
            <button>สนานที่ 3</button>
            <button>สนานที่ 4</button>
        </div>
        <img src="/img/R2.png" alt="">
        <hr>
</div>
</div>











<footer> 
    <div class="topFooter"><img src="../img/logo-CS.png" class="navbar-logo" alt="โลโก้">
        <div class="footleft">
            
            <p>คาราบาวแดง ระเบิดศึกฟาดแข้งฟุตบอล 7 คน ทัวร์นาเมนต์ที่ยิ่งใหญ่ระดับประเทศ
                เพื่อพาแชมป์ไปรับ Passion ระดับโลกกับการร่วมฉลองแชมป์แบบติดขอบสนาม
                ในนัดชิงชนะเลิศ คาราบาวคัพ 2024 ที่ประเทศอังกฤษแบบยกทีม</p>
        </div>
        <div class="footright">
            <p>สอบถามข้อมูลได้ที่</p>
            <i class="bi bi-facebook"></i>
            <i class="bi bi-telephone-fill"></i>
            <p></i> 000-000-0000</p>
        </div>
    </div>
    <div class="bottomFooter">
        <div class="footBottom">
            <p>Copyrights © 2023 <u>Carabao Tawandang Co.,Ltd.</u> All rights reserved.</p>
        </div>
    </div>
</footer>
</body>
<script src="/js/responsive.js"></script>
<script src="/js/page.js"></script>
</html>