<!DOCTYPE html>
<html lang="th">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/style.css">
</head>
<body>

<div class="navbar">
  <img src="../img/logo-CS.png" class="navbar-logo" alt="โลโก้">
    <div class="menu">
        <a href="#home">หน้าแรก</a>
        <a href="#news">ตารางการแข่งขัน</a>
        <a href="#contact">ผลการแข่งขัน</a>
        <button class="navbar-button">ลงทะเบียน</button>
    </div>
</div>
<img src="../img/top-bg.png" class="bg-top" alt="">
<div class="content-homepage">
<div class="left-contents">
    <div class="main-contents">
<h1 style="color: #033161;">WELCOME TO THE <br> HOME OF WOLVES FC</h1>
    <li>เพื่อจัดการแข่งขันฟุตบอลสมัครเล่นที่มีรูปแบบการจัดและกติกาเทียบเคียงการแข่งขันระดับอาชีพ คือ เริ่มจากการจัดการแข่งขันระดับภูมิภาค เพื่อค้นหาตัวแทนระดับภูมิภาค และทำการแข่งขันเพื่อหาทีมชนะเลิศระดับประเทศ อีกทั้งเพื่อเฟ้นหาทีมตัวแทนต่อยอดสู่ระดับมาตรฐานสากล โดยร่วมมือกับการแข่งขัน Carabao Cup ในการคัดเลือกเลือกตัวแทนประเทศไทยร่วมชมการแข่งขัน Carabao Cup ประเทศอังกฤษ</li>
    <li>เพื่อสร้างและส่งเสริมให้เกิดมิตรภาพที่ดีต่อกันระหว่างผู้ประกอบการแต่ละสนาม และแฟนบอลที่มาร่วมการแข่งขัน ซึ่งจะส่งผลต่อการเชียร์ฟุตบอลมิติใหม่ที่แสดงออกถึงมิตรภาพ และลดการทะเลาะวิวาทในอนาคต</li>
    <li>เพื่อประชาสัมพันธ์ศักยภาพการแข่งขันฟุตบอลของไทยในปัจจุบันให้กับกลุ่มเป้าหมายมากขึ้น</li>
</div>
    <btn><a href="">ลงทะเบียน</a></btn>
</div>
<div class="image-right"></div>
</div>
<div class="main">
    <h1 style="color: #033161;">ตารางการแข่งขันxxxxxxxxxxxxxxxxxxxxx</h1>
    <h2>กรุณากรอกชื่อทีม</h2>
    <input type="text">
    <div class="taberdata">
    <table>
        <tr>
            <th>วันที่</th>
            <th>จังหวัด</th>
            <th>สนาม</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
<div class="Hreward">
    <div class="rewardData">
        <div class="topic">
            <h1>รอบชิงชนะเลิศ</h1>
        </div>
        <div class="data1">
            <p>hello</p>
        </div>
        <div class="data2">
            <p>hello</p>
        </div>
        <div class="data3">
            <p>hello</p>
        </div>
    </div>
    <div class="imagRigt">

    </div>
</div>
</div>
</body>
</html>