<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/signup.css" />
  <link rel="stylesheet" href="/css/form.css" />
  <link rel="stylesheet" href="/css/collapsible.css" />
  <link rel="icon" href="/img/new-logo.png" />
</head>
<title>SWFSC</title>

<body>
  <div class="navbar">

    <a href="../index.html"><img src="/img/SWOF_Logo_1-01.png" class="navbar-logo" alt="โลโก้"></a>

    <div class="menu" id="myMenu">
      <a href="/index.html">หน้าแรก</a>
      <btn class="navbar-button"><a href="./register.html">ลงทะเบียน</a></btn>
    </div>
    <div class="hamburger-menu" onclick="toggleHam(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </div>

  <div class="all-contents">
    <div class="bg-top">
      <img src="/img/bg-top-new.jpg" alt="" height="400">
      <img src="/img/mobile.jpg" alt="" height="400">
    </div>
  </div>

  <div class="content">
    <div class="innerContents">
      <h2 class="Title">
        ลงทะเบียนเพื่อเข้าร่วมโครงการ “SINGHA WORLD OF FOOTBALL SKILLS
        CHALLENGE”
      </h2>
      <p style="
            margin-bottom: 2rem;
            margin-top: 2rem;
            font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
            padding: 0rem 1rem;
          ">
        จัดการแข่งขันโดย บริษัท สิงห์ คอร์เปอเรชั่น จำกัด
        ผู้สนับสนุนสโมสรฟุตบอลเชลซีอย่างเป็นทางการ
      </p>
      <!-- เส้นขั้นหน้าระหว่างตรงหัวข้อกับลงทะเบียน -->
      <hr class="linetitle" />
    </div>
  </div>
  <div id="form-steps">
    <div class="progress" id="progress"></div>
    <div class="step active" data-step="1">1</div>
    <div class="step" data-step="2">2</div>
    <div class="step" data-step="3">3</div>
    <div class="step" data-step="4">4</div>
  </div>

  <div class="form-section form-active" data-step="1">
    <!-- Form fields for step 1 -->
    <form action="" method="post" id="form-1">
      <div class="sport-title">
        <label for="stadium-select">กรุณาเลือกสนามแข่งขั้น</label>
        <p style="
              color: #eb0000;
              font-size: clamp(1rem, 0.7727rem + 0.6061vw, 1.5rem);
            ">
          *
        </p>
      </div>
      <div class="select-stadium">
        <select id="stadium-select" name="stadium-select" required class="angle-down">
          <option value>กรุณาเลือกสนามแข่งขัน</option>
          <!-- Add more options here -->
          <option value="stadium1">สนาม Kick Off Arena CMI</option>
          <option value="stadium2">สนาม Sport Arena</option>
          <option value="stadium3">สนาม Major Arena</option>
          <option value="stadium4">สนาม Sriracha Arena</option>

          <!-- ... -->
        </select>
      </div>
      <div class="sport-title">
        <label for="Teamname">กรุณากรอกชื่อทีม</label>
        <p style="
              color: #eb0000;
              font-size: clamp(1rem, 0.7727rem + 0.6061vw, 1.5rem);
            ">
          *
        </p>
      </div>
      <input type="text" id="Teamname" name="Teamname" placeholder="กรุณากรอกชื่อทีม" required />
      <div class="sport-title">
        <label for="Captain">กรอกชื่อ - นามสกุล หัวหน้าทีม</label>
        <p style="
              color: #eb0000;
              font-size: clamp(1rem, 0.7727rem + 0.6061vw, 1.5rem);
            ">
          *
        </p>
      </div>
      <input type="text" id="Captain" name="Captain" placeholder="กรุณากรอกชื่อ - นามสกุล" required />
      <div class="sport-title">
        <label for="phoneCaptain">เบอร์โทร</label>
        <p style="
              color: #eb0000;
              font-size: clamp(1rem, 0.7727rem + 0.6061vw, 1.5rem);
            ">
          *
        </p>
      </div>
      <input type="tel" id="phoneCaptain" name="phoneCaptain" pattern="\d{10}" maxlength="10"
        placeholder="กรุณาเบอร์โทร 10 หลัก" required />
      <div class="sport-title">
        <label for="emailCaptian">Line ID</label>
        <p style="
              color: #eb0000;
              font-size: clamp(1rem, 0.7727rem + 0.6061vw, 1.5rem);
            ">
          *
        </p>
      </div>
      <input type="text" id="LindID" name="LindID" placeholder="กรุณากรอก ID Line" required />
      <div class="sport-title">
        <label for="emailCaptian">อีเมล</label>
        <p style="
              color: #eb0000;
              font-size: clamp(1rem, 0.7727rem + 0.6061vw, 1.5rem);
            ">
          *
        </p>
      </div>
      <input type="email" id="emailCaptian" name="emailCaptian" placeholder="กรุณากรอกอีเมล" required />
    
      <hr />
      <div class="btn-next">
        <a class="next2" href="./register2.html"><button class="next" type="button" style="width: 196px" id="load2">
        <!-- onclick="nextStep(2)" -->
        ถัดไป
        </button></a>
      </div>
    </form>
  </div>

  <footer>
    <img src="/img/SWOF_Logo_1-01.png" alt="โลโก้" class="logo-footer" />
    <div class="topFooter">
      <div class="footleft">
        <p class="foot-content">
        </p>
      </div>
    </div>
    <div class="hr">
      <hr />
    </div>
    <div class="bottomFooter">
      <div class="footBottom">

      </div>
    </div>
  </footer>
  <script src="https://kit.fontawesome.com/32a2f35189.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/js/script.js"></script>
  <script src="/js/add-form.js"></script>
  <script src="/js/responsive.js"></script>
  <script src="/js/detect.js"></script>
</body>

</html>


  <!-- <div class="sport-title">
        <div class="cardnumber">บัตรประชาชน/หนังสือเดินทาง</div>
        <p style="
                color: #eb0000;
                font-size: clamp(1rem, 0.7727rem + 0.6061vw, 1.5rem);
              ">
          *
        </p>
      </div>
      <div id="image-preview-container-4"></div>
      <label for="file-upload-4" class="file-label">
        <button type="button" class="upload-doc-button" id="upload-button-4">
          + แนบไฟล์เอกสาร
        </button>
      </label>
      <input type="file" id="file-upload-4" name="file-upload-4"  required />
      <p class="file-upload-info">
        *Lorem ipsum dolor sit amet consectetur. Nunc sit eleifend dictum
        quisque tortor velit purus. Enim in gravida tortor sit.
      </p> -->