<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/signup.css" />
  <link rel="stylesheet" href="/css/form.css" />
  <link rel="stylesheet" href="/css/collapsible.css" />
  <link rel="icon" href="/img/new-logo.png" />
</head>
<title>SWFSC</title>

<body>
  <div class="navbar">

    <a href="../index.html"><img src="/img/SWOF_Logo_1-01.png" class="navbar-logo" alt="โลโก้"></a>

    <div class="menu" id="myMenu">
      <a href="/index.html">หน้าแรก</a>
      <btn class="navbar-button"><a href="./register.html">ลงทะเบียน</a></btn>
    </div>
    <div class="hamburger-menu" onclick="toggleHam(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </div>

  <div class="all-contents">
    <div class="bg-top">
      <img src="/img/bg-top-new.jpg" alt="" height="400">
      <img src="/img/mobile.jpg" alt="" height="400">
    </div>
  </div>

  <div class="content">
    <div class="innerContents">
      <h2 class="Title">
        ลงทะเบียนเพื่อเข้าร่วมโครงการ “SINGHA WORLD OF FOOTBALL SKILLS
        CHALLENGE”
      </h2>
      <p style="
            margin-bottom: 2rem;
            margin-top: 2rem;
            font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
            padding: 0rem 1rem;
          ">
        จัดการแข่งขันโดย บริษัท สิงห์ คอร์เปอเรชั่น จำกัด
        ผู้สนับสนุนสโมสรฟุตบอลเชลซีอย่างเป็นทางการ
      </p>
      <!-- เส้นขั้นหน้าระหว่างตรงหัวข้อกับลงทะเบียน -->
      <hr class="linetitle" />
    </div>
  </div>
  <div id="form-steps">
    <div class="progress2" id="progress2"></div>
    <div class="step active" data-step="1">1</div>
    <div class="step active" data-step="2">2</div>
    <div class="step" data-step="3">3</div>
    <div class="step" data-step="4">4</div>
  </div>
  <div class="form-section" data-step="2">
    <!-- Form fields for step 2 -->
    <form action enctype="multipart/form-data" method="post" id="form-2">
      <div class="container-form">
        <div class="title-header">
          <div class="Player-title">
            <div class="add-player">คนที่ 1</div>
            <p style="
      <div class="container-form">
        <div class="title-header">
          <div class="Player-title">
            <div class="add-player">คนที่ 1</div>
            <p style="
                  color: #eb0000;
                  font-size: clamp(1rem, 0.7727rem + 0.6061vw, 1.5rem);
                  font-weight: 600;
                ">
              *
            </p>
          </div>
        </div>
        <div class="sport-title">
          <label for="nameplayer">กรอกชื่อ - นามสกุล</label>
          <p style="
                color: #eb0000;
                font-size: clamp(1rem, 0.7727rem + 0.6061vw, 1.5rem);
              ">
          *
        </p>
      </div>
      <input type="text" id="nameplayer" name="nameplayer" required />
      <div class="sport-title">
        <label for="phoneplayer">เบอร์โทร</label>
        <p style="
                color: #eb0000;
                font-size: clamp(1rem, 0.7727rem + 0.6061vw, 1.5rem);
              ">
          *
        </p>
      </div>
      <input type="tel" id="phoneplayer" name="phoneplayer" placeholder="กรุณาเบอร์โทร 10 หลัก" pattern="[0-9]{10}"
        required />
      <div class="sport-title">
        <label for="emailplayer">อีเมล</label>
        <p style="
                color: #eb0000;
                font-size: clamp(1rem, 0.7727rem + 0.6061vw, 1.5rem);
              ">
          *
        </p>
      </div>
      <input type="email" id="emailplayer" name="emailplayer" placeholder="กรุณากรอกอีเมล" required />

      <div class="sport-title">
        <div class="cardnumber">บัตรประชาชน/หนังสือเดินทาง</div>
        <p style="
                color: #eb0000;
                font-size: clamp(1rem, 0.7727rem + 0.6061vw, 1.5rem);
              ">
          *
        </p>
      </div>
      <div id="image-preview-container-0"></div>
      <label for="file-upload-0" class="file-label">
        <button type="button" class="upload-doc-button" id="upload-button-0">
          + แนบไฟล์เอกสาร
        </button>
      </label>
      <input type="file" id="file-upload-0" name="file-upload-0"  required />
      <p class="file-upload-info">
        *Lorem ipsum dolor sit amet consectetur. Nunc sit eleifend dictum
        quisque tortor velit purus. Enim in gravida tortor sit.
      </p>
      <hr />
    </div>
      
        <div class="container-form">
      <div class="title-header">
        <div class="Player-title">
          <div class="add-player">คนที่ 2</div>
          <p style="
                  color: #eb0000;
                  font-size: clamp(1rem, 0.7727rem + 0.6061vw, 1.5rem);
                  font-weight: 600;
                ">
              *
            </p>
          </div>
        </div>
        <div class="sport-title">
          <label for="nameplayer-2">กรอกชื่อ - นามสกุล</label>
          <p style="
                color: #eb0000;
                font-size: clamp(1rem, 0.7727rem + 0.6061vw, 1.5rem);
              ">
          *
        </p>
      </div>
      <input type="text" id="nameplayer-2" name="nameplayer-2" required />
      <div class="sport-title">
        <label for="phoneplayer-2">เบอร์โทร</label>
        <p style="
                color: #eb0000;
                font-size: clamp(1rem, 0.7727rem + 0.6061vw, 1.5rem);
              ">
          *
        </p>
      </div>
      <input type="tel" id="phoneplayer-2" name="phoneplayer-2" placeholder="กรุณาเบอร์โทร 10 หลัก" pattern="[0-9]{10}"
        required />
      <div class="sport-title">
        <label for="emailplayer-2">อีเมล</label>
        <p style="
                color: #eb0000;
                font-size: clamp(1rem, 0.7727rem + 0.6061vw, 1.5rem);
              ">
          *
        </p>
      </div>
      <input type="email" id="emailplayer-2" name="emailplayer-2" placeholder="กรุณากรอกอีเมล" required />

      <div class="sport-title">
        <div class="cardnumber">บัตรประชาชน/หนังสือเดินทาง</div>
        <p style="color: #eb0000; font-size: clamp(1rem, 0.7727rem + 0.6061vw, 1.5rem);">*</p>
      </div>
      <div id="image-preview-container-2"></div>
      <label for="file-upload-2" class="file-label">
        <button type="button" class="upload-doc-button" id="upload-button-2">
          + แนบไฟล์เอกสาร
        </button>
      </label>
      <input type="file" id="file-upload-2" name="file-upload-2" style="display: none;" required />
      <p class="file-upload-info">
        *Lorem ipsum dolor sit amet consectetur. Nunc sit eleifend dictum quisque tortor velit purus. Enim in gravida tortor sit.
      </p>
      <hr />
    </div>
      
        <div class="container-form">
      <div class="title-header">
        <div class="Player-title">
          <div class="add-player">คนที่ 3</div>
          <p style="
                  color: #eb0000;
                  font-size: clamp(1rem, 0.7727rem + 0.6061vw, 1.5rem);
                  font-weight: 600;
                ">
              *
            </p>
          </div>
        </div>
        <div class="sport-title">
          <label for="nameplayer-3">กรอกชื่อ - นามสกุล</label>
          <p style="
                color: #eb0000;
                font-size: clamp(1rem, 0.7727rem + 0.6061vw, 1.5rem);
              ">
          *
        </p>
      </div>
      <input type="text" id="nameplayer-3" name="nameplayer-3" required />
      <div class="sport-title">
        <label for="phoneplayer-3">เบอร์โทร</label>
        <p style="
                color: #eb0000;
                font-size: clamp(1rem, 0.7727rem + 0.6061vw, 1.5rem);
              ">
          *
        </p>
      </div>
      <input type="tel" id="phoneplayer-3" name="phoneplayer-3" placeholder="กรุณาเบอร์โทร 10 หลัก" pattern="[0-9]{10}"
        required />
      <div class="sport-title">
        <label for="emailplayer-3">อีเมล</label>
        <p style="
                color: #eb0000;
                font-size: clamp(1rem, 0.7727rem + 0.6061vw, 1.5rem);
              ">
          *
        </p>
      </div>
      <input type="email" id="emailplayer-3" name="emailplayer-3" placeholder="กรุณากรอกอีเมล" required />

      <div class="sport-title">
        <div class="cardnumber">บัตรประชาชน/หนังสือเดินทาง</div>
        <p style="
                color: #eb0000;
                font-size: clamp(1rem, 0.7727rem + 0.6061vw, 1.5rem);
              ">
          *
        </p>
      </div>
      <div id="image-preview-container-3"></div>
      <label for="file-upload-3" class="file-label">
        <button type="button" class="upload-doc-button" id="upload-button-3">
          + แนบไฟล์เอกสาร
        </button>
      </label>
      <input type="file" id="file-upload-3" name="file-upload-3" required />
      <p class="file-upload-info">
        *Lorem ipsum dolor sit amet consectetur. Nunc sit eleifend dictum
        quisque tortor velit purus. Enim in gravida tortor sit.
      </p>
      <hr />
    </div>
      
        <div class="container-form">
      <div class="title-header">
        <div class="Player-title">
          <div class="add-player">คนที่ 4</div>
          <p style="
                  color: #eb0000;
                  font-size: clamp(1rem, 0.7727rem + 0.6061vw, 1.5rem);
                  font-weight: 600;
                ">
            *
          </p>
        </div>
      </div>
      <div class="sport-title">
        <label for="nameplayer-4">กรอกชื่อ - นามสกุล</label>
        <p style="
                color: #eb0000;
                font-size: clamp(1rem, 0.7727rem + 0.6061vw, 1.5rem);
              ">
          *
        </p>
      </div>
      <input type="text" id="nameplayer-4" name="nameplayer-4" required />
      <div class="sport-title">
        <label for="phoneplayer-4">เบอร์โทร</label>
        <p style="
                color: #eb0000;
                font-size: clamp(1rem, 0.7727rem + 0.6061vw, 1.5rem);
              ">
          *
        </p>
      </div>
      <input type="tel" id="phoneplayer-4" name="phoneplayer-4" placeholder="กรุณาเบอร์โทร 10 หลัก" pattern="[0-9]{10}"
        required />
      <div class="sport-title">
        <label for="emailplayer-4">อีเมล</label>
        <p style="
                color: #eb0000;
                font-size: clamp(1rem, 0.7727rem + 0.6061vw, 1.5rem);
              ">
          *
        </p>
      </div>
      <input type="email" id="emailplayer-4" name="emailplayer-4" placeholder="กรุณากรอกอีเมล" required />

      <div class="sport-title">
        <div class="cardnumber">บัตรประชาชน/หนังสือเดินทาง</div>
        <p style="
                color: #eb0000;
                font-size: clamp(1rem, 0.7727rem + 0.6061vw, 1.5rem);
              ">
          *
        </p>
      </div>
      <div id="image-preview-container-4"></div>
      <label for="file-upload-4" class="file-label">
        <button type="button" class="upload-doc-button" id="upload-button-4">
          + แนบไฟล์เอกสาร
        </button>
      </label>
      <input type="file" id="file-upload-4" name="file-upload-4"  required />
      <p class="file-upload-info">
        *Lorem ipsum dolor sit amet consectetur. Nunc sit eleifend dictum
        quisque tortor velit purus. Enim in gravida tortor sit.
      </p>
      <hr />
    </div>
      

      <!-- <div id="formContainer"> -->
      <!-- <div class="quanlity-player">
        <button type="button" id="add-player-btn" class="add-player-btn">
          + เพิ่ม
        </button>
        <p class="add-player-info">*เพิ่มได้สูงสุด 4 ท่าน</p>
      </div> -->
      <div class="btn-control">
        <button type="submit" class="next-2">ถัดไป</button>
      </div>
    </form>
  </div>

  <footer>
    <img src="/img/new-logo.png" alt="โลโก้" class="logo-footer" />
    <div class="topFooter">
      <div class="footleft">
        <p class="foot-content">
          คาราบาวแดง ระเบิดศึกฟาดแข้งฟุตบอล 7 คน
          ทัวร์นาเมนต์ที่ยิ่งใหญ่ระดับประเทศ เพื่อพาแชมป์ไปรับ Passion
          ระดับโลกกับการร่วมฉลองแชมป์แบบติดขอบสนาม ในนัดชิงชนะเลิศ คาราบาวคัพ
          2024 ที่ประเทศอังกฤษแบบยกทีม
        </p>
      </div>
    </div>
    <div class="hr">
      <hr />
    </div>
    <div class="bottomFooter">
      <div class="footBottom">
        <p>
          Copyrights © 2023 <u>Carabao Tawandang Co.,Ltd.</u> All rights
          reserved.
        </p>
      </div>
    </div>
  </footer>
  <script src="https://kit.fontawesome.com/32a2f35189.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/js/script.js"></script>
  <script src="/js/add-form.js"></script>
  <script src="/js/responsive.js"></script>
  <script src="/js/detect.js"></script>
</body>

</html>