<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/signup.css" />
  <link rel="stylesheet" href="/css/form.css" />
  <link rel="stylesheet" href="/css/collapsible.css" />
  <link rel="icon" href="/img/new-logo.png" />
</head>
<title>SWFSC</title>

<body>
  <div class="navbar">

    <a href="../index.html"><img src="/img/SWOF_Logo_1-01.png" class="navbar-logo" alt="โลโก้"></a>

    <div class="menu" id="myMenu">
      <a href="/index.html">หน้าแรก</a>
      <btn class="navbar-button"><a href="./register.html">ลงทะเบียน</a></btn>
    </div>
    <div class="hamburger-menu" onclick="toggleHam(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </div>

  <div class="all-contents">
    <div class="bg-top">
      <img src="/img/bg-top-new.jpg" alt="" height="400">
      <img src="/img/mobile.jpg" alt="" height="400">
    </div>
  </div>

  <div class="content">
    <div class="innerContents">
      <h2 class="Title">
        ลงทะเบียนเพื่อเข้าร่วมโครงการ “SINGHA WORLD OF FOOTBALL SKILLS
        CHALLENGE”
      </h2>
      <p style="
            margin-bottom: 2rem;
            margin-top: 2rem;
            font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
            padding: 0rem 1rem;
          ">
        จัดการแข่งขันโดย บริษัท สิงห์ คอร์เปอเรชั่น จำกัด
        ผู้สนับสนุนสโมสรฟุตบอลเชลซีอย่างเป็นทางการ
      </p>
      <!-- เส้นขั้นหน้าระหว่างตรงหัวข้อกับลงทะเบียน -->
      <hr class="linetitle" />
    </div>
  </div>
  <div id="form-steps">
    <div class="progress2" id="progress2"></div>
    <div class="progress3" id="progress3"></div>
    <div class="progress4" id="progress4"></div>
    <div class="step active" data-step="1">1</div>
    <div class="step active" data-step="2">2</div>
    <div class="step active" data-step="3">3</div>
    <div class="step active" data-step="4">4</div>
  </div>
  <div class="form-section" data-step="4">
    <!-- Form fields for step 4 -->
    <div class="thank-campagin">
      <h1 class="thank-activitie">
        ขอบคุณที่ลงทะเบียนเข้าร่วมกิจกรรมค่ะ/ครับ
      </h1>
      <p style="
              margin-bottom: 2rem;
              margin-top: 2rem;
              font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
              padding: 0rem 1rem;
            ">
        จัดการแข่งขันโดย บริษัท สิงห์ คอร์เปอเรชั่น จำกัด
        ผู้สนับสนุนสโมสรฟุตบอลเชลซีอย่างเป็นทางการ
      </p>
    </div>
    <div class="confirm-btn">
      <a href="/index.html"><button type="button" class="sign-up">บันทุกข้อมูลการลงทะเบียน</button></a>
    </div>
  </div>


  <footer>
    <img src="/img/SWOF_Logo_1-01.png" alt="โลโก้" class="logo-footer" />
    <div class="topFooter">
      <div class="footleft">
        <p class="foot-content">
        </p>
      </div>
    </div>
    <div class="hr">
      <hr />
    </div>
    <div class="bottomFooter">
      <div class="footBottom">

      </div>
    </div>
  </footer>
  <script src="https://kit.fontawesome.com/32a2f35189.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/js/script.js"></script>
  <script src="/js/add-form.js"></script>
  <script src="/js/responsive.js"></script>
  <script src="/js/detect.js"></script>
</body>

</html>