<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/form.css">
  <link rel="stylesheet" href="/css/TablePage.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="icon" href="/img/new-logo.png">
</head>
<title>SWFSC</title>

<body>
  <div class="navbar">
    <a href="/index.html"><img src="../img/new-logo.png" class="navbar-logo" alt="โลโก้"></a>
    <div class="menu" id="myMenu">
      <a href="/index.html">หน้าแรก</a>
      <a href="/index.html#news">ตารางการแข่งขัน</a>
      <a href="#">ผลการแข่งขัน</a>
      <button class="navbar-button"><a href="/template/register.html">ลงทะเบียน</a></button>
    </div>
    <div class="hamburger-menu" onclick="toggleHam(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </div>

  <img src="/img/banner.png" class="bg-top" alt="">

  <div id="news" class="main" >
    <div class="bottom-main">
      <hr>
      <h2 id="contact">ตารางผลการแข่งขัน</h2>
      <p>Lorem ipsum dolor sit amet consectetur. At turpis feugiat enim volutpat aliquam tincidunt. Sit commodo
        pellentesque dui iaculis et tempor pretium. Tincidunt risus rhoncus sagittis ornare ipsum. Vulputate eget id
        odio cras ac volutpat. Id sociis tellus a turpis scelerisque eu venenatis.</p>
      <div class="table-compete">
        <h3>สนาม เอ</h3>
        <img src="/img/R1.png" alt="">
        <p><a href="">กดพื่อดูแผนที่การแข่งขัน</a> <u>: https://www.google.co.th/maps/@18.3170581,99.3986862,17z?hl=th
          </u></p>
        <hr>
        <h3>สนาม บี</h3>
        <img src="/img/R2.png" alt="">
        <p><a href="">กดพื่อดูแผนที่การแข่งขัน</a> <u>: https://www.google.co.th/maps/@18.3170581,99.3986862,17z?hl=th
          </u></p>
        <hr>
      </div>
      <h2>ผลการแข่งขัน</h2>
      <p>Lorem ipsum dolor sit amet consectetur. At turpis feugiat enim volutpat aliquam tincidunt. Sit commodo
        pellentesque dui iaculis et tempor pretium. Tincidunt risus rhoncus sagittis ornare ipsum. Vulputate eget id
        odio cras ac volutpat. Id sociis tellus a turpis scelerisque eu venenatis.</p>
      <div class="Result-compate">
        <h3>การคัดเลือกรอบแรก</h3>
        <div class="setting">
          <button>สนานที่ 1</button>
          <button>สนานที่ 2</button>
          <button>สนานที่ 3</button>
          <button>สนานที่ 4</button>
        </div>
        <img src="/img/R2.png" alt="">
        <hr>
        <h3>การคัดเลือกรอบสอง</h3>
        <div class="setting">
          <button>สนานที่ 1</button>
          <button>สนานที่ 2</button>
          <button>สนานที่ 3</button>
          <button>สนานที่ 4</button>
        </div>
        <img src="/img/R2.png" alt="">
        <hr>
        <h3>รอบรองชนะเลิศ 3 </h3>
        <div class="setting">
          <button>สนานที่ 1</button>
          <button>สนานที่ 2</button>
          <button>สนานที่ 3</button>
          <button>สนานที่ 4</button>
        </div>
        <img src="/img/R2.png" alt="">
        <hr>
      </div>
    </div>
</div>
    <footer>
      <img src="/img/new-logo.png" alt="โลโก้" class="logo-footer">
      <div class="topFooter">
        <div class="footleft">
          <p class="foot-content">คาราบาวแดง ระเบิดศึกฟาดแข้งฟุตบอล 7 คน ทัวร์นาเมนต์ที่ยิ่งใหญ่ระดับประเทศ
            เพื่อพาแชมป์ไปรับ Passion ระดับโลกกับการร่วมฉลองแชมป์แบบติดขอบสนาม
            ในนัดชิงชนะเลิศ คาราบาวคัพ 2024 ที่ประเทศอังกฤษแบบยกทีม
          </p>
        </div>
      </div>
      <div class="hr"><hr></div>
      <div class="bottomFooter">
        <div class="footBottom">
          <p>Copyrights © 2023 <u>Carabao Tawandang Co.,Ltd.</u> All rights reserved.</p>
        </div>
      </div>
    </footer>
    <script src="https://kit.fontawesome.com/32a2f35189.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/script.js"></script>
    <script src="/js/add-form.js"></script>
    <script src="/js/responsive.js"></script>

</body>


</html>