<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/sidbar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"></head>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="left">
            <!-- ส่วนทางซ้าย -->
            <h1 class="logo"></h1>
                <div class="main">
                    <br>
                    <ul class="menu">
                        <button><a href="teamdetail.html"><p><i class="bi bi-people"></i>ข้อมูลรายชื่อทีม</p></a></button>
                    </ul>
                    <ul class="menu">
                        <button><a href="compete.html"><p><i class="bi bi-boxes"></i>การแข่งขัน</p></a></button>
                    </ul>
                    <button class="logout"> <a href="./CS-admin.html"><p><i class="bi bi-arrow-bar-right"></i>Log out</p></a></button>
            </div>
        </div>
        <div class="right">
            <!-- ส่วนทางขวา -->
            <nav> <h1>ข้อมูลทีม</h1><h1><i class="bi bi-bell-fill" style="color:#fff;cursor: pointer;"></i></h1></nav>
             <div style="margin-top: 1.5rem;"></div>
        </div>
    </div>
</body>
<script src="/js/protect.js"></script>

</html>